.user-info__avatar {
  position: relative;
  min-width: 120px;
  max-width: 120px;
  width: 100%;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  background-image: url(../../../images/profile-avatar.jpg);
}

.user-info__avatar::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity .5s ease-in-out;
  border-radius: 50%;
  background: #000 url(../../../images/icon-edit.svg) no-repeat 50%;
}

.user-info__avatar:hover::before {
  opacity: .8;
  cursor: pointer;
}